/* -------------
    RESET
-------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

/* -------------
    DEBUG
-------------- */
/* .container{
    border: 2px dashed black;
}
.col-33{
    border: 2px dashed rgb(9, 243, 142);
}
footer .container{
    border: 2px dashed rgb(239, 243, 6);
}
.col-50{
    border: 2px dashed white; 
} */
/* -------------
    TYPOGRAPY
-------------- */
body{
    font-family: 'Open Sans', sans-serif;
}

/* -------------
    GENERAL
-------------- */
header{
    background-color: #ff6900;
    color: #ffffff;
    margin-bottom: 60px;
    padding: 20px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
footer{
    background-color: #1a1a1a;
    color: #ffffff;
    margin-top: 60px;
    padding: 20px 0px;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.col-33{
    width: calc(100% / 3);
}
.col-33:nth-child(2) {
    margin: 0px 10px; 
}
.col-50{
    width: 50%;
}
.discount span{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
}

/* -------------
    CARD
-------------- */
.card{
    position: relative;
}
.card .heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 50px;
    background-color: #ffffff;
    padding: 0px 10px;
}
.card .discount{
    position: absolute;
    bottom: 35px;
}
.sconto{
    background-color: #ff0000;
}
.sostenibile{
    background-color: #008000;
}
.tex-red{
    color: #ff0000;
    font-weight: 700;
}
.tex-deleted{
    text-decoration: line-through;
}

/* -------------
    HEADER
-------------- */
header img{
    max-width: 50%;
    display: block; 
    margin: 0 auto;
}
.icon i{
    padding: 0px 5px;
}
.icon{
    text-align: end;
}

/* -------------
    HEADER
-------------- */

